<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> Crypto News of The Day</h1>

    <p>
        <form
        action = "#"
        th:action="@{/}"
        th:object = "${getArticles}"
        method = "get"
        >

        <input type="save" />
    
        </form>

        <



    </p>


    <input type="Save" value="Save"/>




    
</body>
</html>